$dm-primary: #ea7c69;
$dm-bg-dark-1: #1f1d2b;
$dm-bg-dark-2: #252836;
$dm-bg-dark-form: #2d303e;
$dm-line-dark: #393c49;
$dm-text-light-1: #e0e6e9;
$dm-text-light-2: #abbbc2;
$dm-bg-light-1: #fff5ef;
$dm-bg-light-2: #ffffff;
$dm-bg-light-form: #fdfdfd;
$dm-line-light: #abbbc2;
$dm-text-dark-1: #3b5162;
$dm-text-dark-2: #889898;
$dm-accent-red: #ff7ca3;
$dm-accent-orange: #ffb572;
$dm-accent-purple: #9290fe;
$dm-accent-green: #50d1aa;
$dm-accent-blue: #65b0f6;
$dm-bg-accent-red: #ff7ca342;
$dm-bg-accent-orange: #ffb57242;
$dm-bg-accent-purple: #9290fe42;
$dm-bg-accent-green: #50d1aa42;
$dm-bg-accent-primary: #ea7c6942;
