REACT_APP_BASE_URL = "https://wow-menu-staging.herokuapp.com/"
REACT_APP_LOCAL_URL = "http://localhost:5000/"
REACT_APP_STAGGING_URL = "https://wow-menu-staging.herokuapp.com/"
REACT_APP_FIREBASE_APIKEY = "AIzaSyD0UytI9INAprPtZN_cFFRBB3Io5qjwB1w"
REACT_APP_FIREBASE_AUTHDOMAIN = "workflow-19f2c.firebaseapp.com"
REACT_APP_FIREBASE_DATABASEURL = "https://workflow-19f2c-default-rtdb.asia-southeast1.firebasedatabase.app"
